*{
    margin: 0;
}

header{
    padding: 10px;
    background: rgb(105, 105, 235);
    text-align: center;
}

footer{
    margin-top: 10px;
    background: rgb(228, 86, 30);
    text-align: center;
    padding: 10px;
}

.strong{
    font-weight: bold;
}

.container{
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(49, 49, 133);
}

.inner-container{
    background-color: rgb(221, 95, 95);
    padding: 20px;
    border-radius: 5px;
}