*{
    margin: 0;
}

header{
    padding: 10px;
    background: rgb(105, 105, 235);
    text-align: center;
}

footer{
    margin-top: 10px;
    background: rgb(228, 86, 30);
    text-align: center;
    padding: 10px;
}

.strong{
    font-weight: bold;
}

.container{
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(49, 49, 133);
}

.inner-container{
    background-color: rgb(221, 95, 95);
    padding: 20px;
    border-radius: 5px;
}

p{
    margin: 5px;
}
.profile{
    animation: 4s ease-out 0s 1 slideInFromLeft;
}

.hawkID{
    animation: 4s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}